<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vegaraju.anand.vibez2k17">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <activity android:name="com.vegaraju.anand.vibez2k17.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.vegaraju.anand.vibez2k17.UserRegistrationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.MenuActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.MainMenu" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.EventMenuActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.CulturalEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.SportEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.TechnicalEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.ContactListActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.AlumniRegActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.AlumniDB" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.EventTemplateActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.EventRegActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.vegaraju.anand.vibez2k17.CreditsActivity" android:screenOrientation="portrait"/>





        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/vibez" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8121b0dc0c3c47aa2916d2beb089d2f82e04b187" />
    </application>




    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>