<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anand.vibez2k17">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".UserRegistrationActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MenuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MainMenu" android:screenOrientation="portrait"/>
        <activity android:name=".EventMenuActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CulturalEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".SportEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".TechnicalEventsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ContactListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AlumniRegActivity" android:screenOrientation="portrait"/>
        <activity android:name=".AlumniDB" android:screenOrientation="portrait"/>
        <activity android:name=".EventTemplateActivity" android:screenOrientation="portrait"/>
        <activity android:name=".EventRegActivity" android:screenOrientation="portrait"/>
        <activity android:name=".CreditsActivity" android:screenOrientation="portrait"/>





        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/vibez" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />



        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8121b0dc0c3c47aa2916d2beb089d2f82e04b187" />
    </application>




    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>